.typewriter-is-animating {
  user-select: none;
  cursor: pointer;
  position: relative;

  &::before {
    display: block;
    content: "click to skip this amazing animation";
    position: absolute;
    font-weight: bold;
    white-space: nowrap;

    transition: opacity var(--animation-duration-s),
      top var(--animation-duration-s);
    top: -4px;
    opacity: 0;
  }

  &:hover::before {
    top: -24px;
    opacity: 0.4;
  }
}
