.scene-wrapper,
main {
  transition: opacity var(--animation-duration-l) ease-in-out;
  opacity: 0.001;
}

footer {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.loaded {
  .scene-wrapper {
    opacity: 0.3;
  }
  main,
  footer {
    opacity: 1;
  }
}
