@import "viewports";

.foreground,
.middleground,
.background {
  transition-property: opacity;
  transition-duration: var(--animation-duration-s);
  transition-timing-function: ease-in-out;
  opacity: 0;
}

.loaded {
  .foreground,
  .middleground,
  .background {
    opacity: 1;
  }
}

@media (--viewport-s) {
  .foreground,
  .middleground,
  .background {
    transition-property: opacity, transform;
    transition-behavior: allow-discrete;
  }
}
