:root {
  --base-0: #291e17;
  --base-1: #484849;
  --base-2: #efc6a0;
  --base-3: #efe5cc;

  --accent-0: var(--base-3);
  --accent-1: var(--base-2);
  --accent-2: var(--base-1);
  --accent-3: var(--base-0);

  --distance-2xs: 2px;
  --distance-xs: 4px;
  --distance-s: 8px;
  --distance-m: 16px;
  --distance-l: 32px;
  --distance-xl: 64px;

  --radius-s: 6px;
  --radius-m: 8px;
  --radius-l: 16px;

  --font-size-m: 1em;
  --font-size-l: 1.1em;
  --font-size-xl: 1.4em;
  --font-size-2xl: 2.4em;
  --font-size-3xl: 3.2em;

  --animation-duration-s: 0.2s;
  --animation-duration-m: 0.3s;
  --animation-duration-l: 0.6s;

  --width-max: 1280px;
}
