:root {
  /* eee5ce */

  --accent-0: #1f1b19;
  --accent-1: #524844;
  --accent-2: #d0b8ac;
  --accent-3: #f3d8c7;

  /* taken from background picture */
  --accent-4: #eee5ce;

  --distance-2xs: 2px;
  --distance-xs: 4px;
  --distance-s: 8px;
  --distance-m: 16px;
  --distance-l: 32px;
  --distance-xl: 64px;

  --radius-s: 6px;
  --radius-m: 8px;
  --radius-l: 16px;

  --font-size-m: 1em;
  --font-size-l: 1.1em;
  --font-size-xl: 1.4em;
  --font-size-2xl: 2.4em;
  --font-size-3xl: 3.2em;

  --width-max: 1280px;
}
