footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--distance-m);
  position: sticky;
  bottom: var(--distance-m);

  a {
    border-radius: var(--radius-m);
  }

  .back {
    margin-right: auto;
  }
}
