h1 {
  display: inline-flex;
  width: 100%;
  a {
    font-size: var(--font-size-xs);
    margin-left: auto;
    transition: opacity var(--animation-duration-m);
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
