.project-wrapper {
  gap: var(--distance-s);
  width: 100%;

  a.project {
    display: grid;
    gap: var(--distance-xs);
    border-radius: var(--radius-l);
    border: 2px solid var(--accent-2);
    padding: var(--distance-m);
    color: var(--accent-0);
    transition: background-color 0.2s ease-in-out;

    .url {
      font-weight: normal;
    }

    .tag-wrapper {
      display: flex;
      margin-top: var(--distance-s);
      gap: var(--distance-s);

      .tag {
        border-radius: var(--radius-m);
        padding: var(--distance-xxs) var(--distance-s);
        background-color: var(--accent-3);
      }
    }

    &:hover {
      background-color: var(--accent-2);
    }
  }
}

@media screen and (min-width: var(--width-m)) {
  a.project {
    grid-template-columns: 2fr;
  }
}
