.project-wrapper {
  width: 100%;

  a.project {
    border-radius: var(--radius-m);
    transition: transform 0.2s;
    display: grid;
    font-weight: normal;
    position: relative;
    gap: var(--distance-xs);
    padding: var(--distance-m);
    color: var(--accent-0);

    .url {
      font-weight: normal;
    }

    .tag-wrapper {
      display: flex;
      margin-top: var(--distance-s);
      gap: var(--distance-s);

      .tag {
        border-radius: var(--radius-m);
        padding: var(--distance-2xs) var(--distance-s);
        background-color: var(--accent-3);
        flex-wrap: wrap;
      }
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        border-color: var(--accent-1);
      }

      &::before {
        width: 64px;
      }
      &::after {
        width: 50%;
      }
    }

    &::before,
    &::after {
      transition: transform 0.2s, border-color 0.2s, width 0.2s;
      box-sizing: border-box;
      content: "";
      position: absolute;
      border: 0 solid var(--accent-2);
      height: 50%;
      width: 16px;
    }

    &::before {
      top: 0;
      border-width: 2px 0 0 2px;
      border-top-left-radius: var(--radius-s);
    }

    &::after {
      border-width: 0 0 2px 2px;
      border-bottom-left-radius: var(--radius-s);
      bottom: 0;
    }
  }
}

@media screen and (min-width: var(--width-m)) {
  a.project {
    grid-template-columns: 2fr;
  }
}
