@import "./../style/viewports";

.scene-wrapper {
  position: fixed;
  height: 100vh;
  width: 100dvw;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  img {
    pointer-events: none;
  }

  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 110%;
    }
  }

  .middleground,
  .foreground {
    width: var(--width-max);
    position: absolute;
    max-width: 100vw;
    height: 100vh;
    img {
      position: absolute;
      object-fit: contain;
      object-position: center;
    }
  }

  .middleground {
    img.doggo {
      aspect-ratio: 1;
      height: 40vh;
      right: -30vh;
      bottom: -10px;
    }
  }

  .foreground {
    filter: blur(3px);

    img.lamp {
      aspect-ratio: 1;
      height: 40vh;
      top: -10vh;
      right: -15vh;
    }

    img.plant {
      aspect-ratio: 1;
      height: 70vh;
      left: -30vh;
      bottom: -5vh;
    }
  }
}

@media (--viewport-s) {
  .foreground,
  .middleground,
  .background {
    transition: transform 0.3s ease-out;
  }
}
