.scene-wrapper,
.center {
  perspective: 100px;
}

.flyIn3d {
  animation: flyIn3d 2s;
  animation-fill-mode: both;
}

.scene-wrapper {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  img {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    object-fit: contain;
  }

  img.room {
    height: 100vh;
  }

  .center {
    width: var(--width-max);
    position: relative;

    img.lamp {
      height: 50vh;
      top: -10vh;
      right: -5vh;
      animation-delay: 1s;
    }

    img.plant {
      height: 70vh;
      left: -35vh;
      bottom: -20vh;
      animation-delay: 1s;
    }
  }
}

@keyframes flyIn3d {
  from {
    opacity: 0;
    transform: perspective(100px) translateZ(20px);
  }

  to {
    opacity: 1;
  }
}
