.grid {
  display: grid;
}

.flex-row {
  display: flex;
}

@media screen and (min-width: 801px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .flex-row {
    gap: var(--distance-m);
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .flex-row {
    gap: var(--distance-s);
    flex-direction: column;
  }
}
